@font-face {
	font-family: 'Giants-Bold';
	src: url('./giants-bold.ttf');
}
@font-face {
	font-family: 'Giants-Inline';
	src: url('./giants-inline.ttf');
}
@font-face {
	font-family: 'Giants-Regular';
	src: url('./giants-regular.ttf');
}
